.routerClass{
  color: white;
  font-size: 25px;
}
.bodyHtmlLabel{
  color: white;
  font-size: 18px;
}
.bodyHtmlInput{
  width: 40%;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 6px 12px 4px;
}
.bodyHtmlLabelR{
  writing-mode: tb;
  font-size: 25px;
  color: white;
  float: right;
}
.topR{
  margin-top: 35px;
}
.timeClass{
  color: white;
  font-size: 18px;
}
.titleCell{
  background-color: red;
  color:#fff;
}
.column-cell-class-name-test{
  background-color: #187;
}
.column-cell-class-name-test .v-table-body-cell{
  border-color: #187;
}
.column-cell-class-name-test2{
  background-color: #2db7f5;
  font-weight: bold;
}
.column-cell-class-name-test2 .v-table-body-cell{
  border-color: #2db7f5;
}
